<form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)">
    <div>
        <label class="form-label">Prénom</label>
        <input formControlName="first" type="text" class="form-control">
        <p *ngIf="(contactForm.get('first').hasError('minlength') && contactForm.get('first').touched) || (contactForm.status=='INVALID' && contactForm.touched)"
         class="form-error">Min. 2 caractères</p>
    </div>    
    <div>
        <label class="form-label">Nom</label>
        <input formControlName="last" type="text" class="form-control">
        <p *ngIf="(contactForm.get('last').hasError('minlength') && contactForm.get('last').touched) || (contactForm.status=='INVALID' && contactForm.touched)" class="form-error">Min. 2 caractères</p>
    </div>    
    <div>
        <label class="form-label">Telephone</label>
        <input formControlName="phone" type="tel" class="form-control">
        <p *ngIf="(contactForm.get('phone').hasError('required') && contactForm.get('phone').touched) || (contactForm.status=='INVALID' && contactForm.touched)" class="form-error">Champ obligatoire</p>
    </div>    
    <div>
        <label class="form-label">Email</label>
        <input formControlName="email" type="email" class="form-control">
        <p *ngIf="(contactForm.get('email').hasError('email') && contactForm.get('email').touched) || (contactForm.status=='INVALID' && contactForm.touched)" class="form-error">Mauvais format</p>
    </div>    
    <button type="submit">Ajouter</button>




</form>