<!-- <nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TrelloLike</a>
  </div>
</nav> -->

<mat-toolbar color="primary">
  <span>Trello Like</span>
</mat-toolbar>

<div class="d-flex">
  <!-- SIDEBAR-->
  <div class="sidebar">
    <h1>Project Manager</h1>
    <ul class="list-group">
      <a routerLink="/login" routerLinkActive="active" class="list-group-item list-group-item-action" href="">Login</a>
      <a class="list-group-item list-group-item-action" href="">Home</a>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item list-group-item-action" href="">Board</a>
      <a routerLink="/contacts" routerLinkActive="active" class="list-group-item list-group-item-action" href="">Contacts</a>
    </ul>
  </div>

  <!-- CONTENU-->
  <div class="interface container-fluid">
    <!-- <app-board></app-board> -->
    <router-outlet></router-outlet>
  </div>
</div>